@{
    ViewData["Title"] = "غیرمجاز";
    Layout = null;
}
    <li class="nav-item ">
        <a class="nav-link" href="/Account/Logout">
            <i class="material-icons">bubble_chart</i>
            <p>@PanelData.Exit</p>
        </a>
    </li>
<div style="margin:100px auto;" class="text-center">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">شما مجوز استفاده از این بخش را ندارید</p>
</div>
