@*<section id="banner" data-video="images/banner">
    <div class="inner">
        <header>
            <h1>@SiteData.Title</h1>
            <p>
                @SiteData.SiteResponsibility<br />
                طراحی توسط <a href="@SiteData.HostName">@SiteData.Zigorat</a>
            </p>
        </header>
        <a href="#main" class="more">Learn More</a>
    </div>
</section>*@