<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS on different SSL Port" enabled="true" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="([^/:]*?):[^/]*?" />
          </conditions>
          <action type="Redirect" url="https://{C:1}:63000/{R:0}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\AuthenticationService.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
  </location>

</configuration>
<!--ProjectGuid: 984fb943-af10-4129-8fc2-f92bc69e4bcd-->